
:root {
  --light: #D7E0F8;
  --dark: #9EB4EC;
}


@media only screen and (max-width: 1440px) {
  body {
    background-color: var(--light);
  }

}

.page-wrapper {
  padding: 24px;
  color: var(--dark);
}

.body-wrapper {
    margin: auto;
    width: 1440px;
    background-color: var(--light);
    position: relative;
}

header {
  position: fixed;
  top: 0;
  width: calc(50vh - 48px);
  padding: 24px;
  background-color: var(--dark);
  color: var(--light);
}

.nav-links {
  display: flex;
  justify-content: space-between;
}
