@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora:wght@400;500;600;700&display=swap');

:root {
  --lightblue: #b0cddd;
  --darkblue: #84b6d1;
  --dark: #3366ff;
  --color4: #fbff00;

}

@media only screen and (max-width: 1440px) {
  body {
    background-color: var(--lightblue)
  }

  .body-wrapper {
    width: 100vw !important;
  }

  nav-bar {
    width: calc(100vw - 1440px) !important;
  }
}

* {
  font-family: 'Sora', sans-serif;
  font-size: 30px;
}

.body-wrapper {
  margin: auto;
  width: 100vh;
  height: 100vh;
  background-color: var(--lightblue);
  position: relative;
}

.page-wrapper {
  padding: 24px;
  color: var(--dark);
}

.nav-wrapper {
  padding: 24px;
  background-color: var(--darkblue);
  color: var(--darkblue);
}

nav-bar {
  position: relative;

  /* background-color: var(--color3); */
  /* bottom: 0; */
  /* top: 0; */
  /* width: 400px;
  height: 200px; */
  /* width: calc(100vh - 100px); */
  padding: 1440px;
  /* padding-left: 10px;
  padding-right: 10px; */
  /* margin: auto; */
  /* color: var(--color3); */
}

.nav-links {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkblue);
  color: var(--light);
}

button {
  margin: auto;
  background-color: var(--lightblue);
  border: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-radius: 2px;
}

.App {
  text-align: center;
}

